<div class="drg-util-shell pk-font-bai-jamjuree">
  <pk-sidenav [groups]="navGroups" [activeKey]="activeKey()" mode="auto" theme="primary" [breakpoint]="768">

    <div pkSidenavHeader style="display:flex;align-items:center;gap:10px;font-weight:700;">
      <span class="w-8"><img src="images/logomoph.png" alt=""></span>
      <span class="pk-snv-hide-on-icon">{{ config().appCode }}</span>
    </div>

    <div pkSidenavUser class="flex items-center gap-2 shrink-0">
      <pk-icon iconSet="google" name="account_circle" [size]="24" />
      <div class="min-w-0 flex-1" pkTooltip="{{ userInfo().position }} {{ userInfo().hname ?? userInfo().hospname }}"
        tooltipPlacement="top">
        <p class="text-xs font-semibold text-gray-100 truncate leading-tight">{{ userInfo().fullname || userInfo().name }}</p>
        <p class="text-[10px] text-gray-400 truncate leading-tight">{{ userInfo().hname ?? userInfo().hospname }}
        </p>
      </div>
      <div>
        <pk-icon iconSet="google" name="logout" [size]="18" class="text-gray-400 cursor-pointer hover:text-white"
          pkTooltip="ออกจากระบบ" (click)="logout()"></pk-icon>
      </div>

    </div>
  </pk-sidenav>
  <main class="drg-util-content m-2 sm:m-4">
    <router-outlet />
  </main>
</div>