@import "tailwindcss";

/* Class-based dark mode for Tailwind v4 */
@custom-variant dark (&:where(.dark, .dark *));


.formControl {
  display: flex;
  flex-direction: column;
}

.formControl label {
  font-weight: 500;
  margin-bottom: 0.25rem;
}
.formControl input,
.formControl select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
}
.formControl input:disabled,
.formControl select:disabled {
  background-color: #f9f9f9;
  cursor: not-allowed;
}

.formControl button {
  height: 35px;
}